* {
    box-sizing: border-box;
}
.app {
  width: 375px;
  border:1px solid red;
}

.list {
    width: 375px;
    padding:15px;
    overflow:hidden;
}
.list > div {
    float: left;
}
.list .photo{
    width: 48px;
}
.list .photo img{
    width: 48px;
}
.list .bookmark{
    width: 30px;
}